@using NewStore.Application.Services.Products.Queris.GetCategories
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ResultGetCategories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="row">
        <div class="card-header">
            <label class="col-md-3 form-label">لیست دسته‌بندی ها</label>
            <a asp-controller="AddNewCategory" class="btn btn-primary float-end">دسته بندی جدید</a>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table border text-nowrap text-md-nowrap mb-0">
                <thead class="table-primary">
                    <tr>
                        <th>Id</th>
                        <th>دسته بندی</th>
                        <th>پدر</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                @{
                                    string parentName = item.Parent != null ? item.Parent.Name : "-";
                                }
                                <label>@parentName</label>
                            </td>
                            <td>
                                @{
                                    if (item.HasChild)
                                    {
                                        <a class="btn btn-outline-info" asp-area="admin" asp-controller="Categories" asp-action="Index" asp-route-parentId="@item.Id">مشاهده لیست فرزندان</a>
                                    }
                                    if (item.Parent == null)
                                    {
                                        <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Categories" asp-action="AddNewCategory" asp-route-parentId="@item.Id">افزودن فرزند</a>
                                    }

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

