@using NewStore.Application.Services.Common.Queris.GetMenuItems
@model List<MenuItemsDto>
@{
    Layout = null;
}

<div class="megamenu">
    <!-- RIGHT MENU -->
    <ul class="megamenu_category">
        @if (Model.Count != 0)
        {
            <li class="megamenu_category-item active">
                <svg class="w-5 h-5">
                    <use href="#mobile"></use>
                </svg>
                <a asp-controller="products" asp-action="index" asp-route-categoryId="@Model.First().CategoryId">@Model.First().Name</a>
            </li>
        }

        @foreach (var category in Model.Skip(1))
        {
            <li class="megamenu_category-item">
                <svg class="w-5 h-5">
                    <use href="#mobile"></use>
                </svg>
                <a asp-controller="products" asp-action="index" asp-route-categoryId="@category.CategoryId">@category.Name</a>
            </li>
        }

    </ul>

    <div class="megamenu_left">
        <a asp-controller="products" asp-action="index" class="text-blue-400 flex items-center gap-x-0.5 text-sm mb-4">
            مشاهده همه
            <svg class="size-4 rotate-90">
                <use href="#chevron" />
            </svg>
        </a>
        <ul class="megamenu_left-item active">
            <div class="megamenu_left-menu">
                <h2 class="megamenu_left-title">برندهای مختلف</h2>
                @foreach(var child1 in Model.First().Childs)
                {
                    <li>
                    <a asp-controller="products" asp-action="index" asp-route-categoryId="@child1.CategoryId">@child1.Name</a>
                    </li>
                }
                
            
            </div>
            <div class="megamenu_left-menu">
                <h2 class="megamenu_left-title"> بر اساس قیمت</h2>
                <li><a href="shop.html">@Model.First().Name.ToString() ارزان</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString()  قسطی</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString() تا ۲ میلیون تومان</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString() تا ۵ میلیون تومان</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString() تا ۷ میلیون تومان</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString() تا ۱۵ میلیون تومان</a></li>
                <li><a href="shop.html">@Model.First().Name.ToString() بالای ۱۵ میلیون تومان</a></li>
            </div>

        </ul>
        @foreach(var item in Model.Skip(1))
        { 
            <ul class="megamenu_left-item">
                <div class="megamenu_left-menu">
                <h2 class="megamenu_left-title">برندهای مختلف</h2>
                    @foreach(var child in item.Childs)
                    {                                           
                        <li>
                    <a asp-controller="products" asp-action="index" asp-route-categoryId="@child.CategoryId">@child.Name</a>
                        </li>
                    }
                    </div>
    <div class="megamenu_left-menu">
        <h2 class="megamenu_left-title"> بر اساس قیمت</h2>
        <li><a href="shop.html">@item.Name.ToString() ارزان</a></li>
        <li><a href="shop.html">@item.Name.ToString()  قسطی</a></li>
        <li><a href="shop.html">@item.Name.ToString() تا ۲ میلیون تومان</a></li>
        <li><a href="shop.html">@item.Name.ToString() تا ۵ میلیون تومان</a></li>
        <li><a href="shop.html">@item.Name.ToString() تا ۷ میلیون تومان</a></li>
        <li><a href="shop.html">@item.Name.ToString() تا ۱۵ میلیون تومان</a></li>
        <li><a href="shop.html">@item.Name.ToString() بالای ۱۵ میلیون تومان</a></li>
    </div>

            </ul>
        }



    </div>
</div>